# Copyright (c) 2024 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config BOARD_KKM_K7P54L_BCN
	select SOC_NRF54L15_CPUAPP if BOARD_KKM_K7P54L_BCN_NRF54L15_CPUAPP || BOARD_KKM_K7P54L_BCN_NRF54L15_CPUAPP_NS
	select SOC_NRF54L15_CPUFLPR if BOARD_KKM_K7P54L_BCN_NRF54L15_CPUFLPR || \
					    BOARD_KKM_K7P54L_BCN_NRF54L15_CPUFLPR_XIP
