# Copyright (c) 2024 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config BOARD_MOKOSMART_L02S_BCN
	select SOC_NRF54L15_CPUAPP if BOARD_MOKOSMART_L02S_BCN_NRF54L15_CPUAPP || BOARD_MOKOSMART_L02S_BCN_NRF54L15_CPUAPP_NS
	select SOC_NRF54L15_CPUFLPR if BOARD_MOKOSMART_L02S_BCN_NRF54L15_CPUFLPR || \
					    BOARD_MOKOSMART_L02S_BCN_NRF54L15_CPUFLPR_XIP
