# Copyright (c) 2024 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config BOARD_MINEW_ME54BE01
	select SOC_NRF54L15_CPUAPP if BOARD_MINEW_ME54BE01_NRF54L15_CPUAPP || BOARD_MINEW_ME54BE01_NRF54L15_CPUAPP_NS
	select SOC_NRF54L15_CPUFLPR if BOARD_MINEW_ME54BE01_NRF54L15_CPUFLPR || \
					    BOARD_MINEW_ME54BE01_NRF54L15_CPUFLPR_XIP
